/* WIDTH FIXES */
.rm-block-text,
.roam-article,
.roam-block-container,
.roam-center {
  max-width: 100% !important;
}
:root {
 /* WIDTH FIXES - default 568px,1032px - increase to increase WIDTH */
  --reduce-padding-right    : 3400px;
  --reduce-padding-left     : 3400px;
}
#rm-log-container {
  padding-right: calc((100% - var(--reduce-padding-right)) / 2) !important;
  padding-left : calc((100% - var(--reduce-padding-left)) / 2) !important;
}
div[style*="padding-right: calc((100% - 568px) / 2); padding-left: calc((100% - 1032px) / 2);"] {
  padding-right: calc((100% - var(--reduce-padding-right)) / 2) !important;
  padding-left : calc((100% - var(--reduce-padding-left)) / 2) !important;
}
div[style*="padding-right: calc((100% - 800px) / 2); padding-left: calc((100% - 800px) / 2);"] {
  padding-right: calc((100% - var(--reduce-padding-right)) / 2) !important;
  padding-left : calc((100% - var(--reduce-padding-left)) / 2) !important;
}
/* WIDTH FIXES - safari and mobile or iPad*/
div[style*="padding-right: calc(0.5 * (100% - 568px)); padding-left: calc(0.5 * (100% - 1032px));"] {
  padding-right: calc(0.5 * (100% - var(--reduce-padding-right))) !important;
  padding-left : calc(0.5 * (100% - var(--reduce-padding-left))) !important;
}
div[style*="padding-right: calc(0.5 * (100% - 800px)); padding-left: calc(0.5 * (100% - 800px));"] {
  padding-right: calc(0.5 * (100% - var(--reduce-padding-right))) !important;
  padding-left : calc(0.5 * (100% - var(--reduce-padding-left))) !important;
}
